<!--<app-pedido *ngFor="let x of pedidos" [nombre]="x"></app-pedido>-->
<div	class="container	content">
        <div	class="row">
                        <div	class="col-md-6	offset-md-3">
                                        <span	class="anchor"	id="formLogin"></span>
                                        <!-- form	card	login	with	validation	feedback	-->
                                        <div	class="card	card-outline-secondary">
                                                        <div	class="card-header">
                                                                        <h3	class="mb-0">Detalle del Pedido</h3>
                                                        </div>
                                                        <div	class="card-body">
                                                                        <form>
                                                                                <div	class="form-group">
                                                                                        <label	for="producto">Producto</label>
                                                                                        <input	type="text"	class="form-control"	id="producto"	placeholder="Ingresar Producto..." #producto>
                                                                                </div>
                                                                                <div	class="form-group">
                                                                                        <label	for="Imagen	Url">Imagen	Producto</label>
                                                                                        <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." #url>
                                                                                </div>
                                                                                <button	type="submit"	class="btn	btn-primary" (click)="guardar(producto.value,url.value)" >Guardar!</button>
                                                                        </form>
                                                        </div>
                                        </div>
                        </div>
        </div>
        <hr	class="mb-5">
        <div	class="row">
                 <app-pedido *ngFor="let p of pedidos" [pedido]="p"></app-pedido>       
        </div>
</div>